/* -- RESET */

* {
  margin: 0;
  padding: 0;
}

/* --CUSTOM PROPS */

:root {
  --text-m: 1.5rem;
  --space-m: 8px;

  --li-margin: 1em; /* margini lista FontAwesome */
  --li-width: 1.5em; /* markerwidth lista FontAwesome */

  --main-color: rgba(255, 0, 0, 0.236);

  /* dimension */
  --header-h: 80px;
}

/* -- DEBUG */

.db {
  background-color: rgba(255, 0, 0, 0.236);
  border: 3px dashed black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db-content > * {
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dotted black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db i::after {
  content: "ℹ️";
}

/* ---------------------------------------- */

header {
  height: var(--header-h);
}

header .dropdown-toggle::after {
  display: none;
}

#navbar-logo-small {
  width: 50px;
}

#nav-search-bar.form-control:focus {
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: none;
}

#bell-dropdown {
  color: #ff8f00;
}

#bell-menu {
  left: auto;
  right: 0;
}

#sidebar {
  height: calc(100vh - var(--header-h));
  /* width: 150px; */
  background-image: URL(../img/img/sidebar-bg.png);
  background-color: #051e34;
}

#sidebar a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

#sidebar a:hover {
  background-color: #ffffff64;
}
