/* -- RESET */

* {
  margin: 0;
  padding: 0;
}

.badge.text-bg-warning {
  color: white !important;
}

/* --CUSTOM PROPS */

:root {
  --text-m: 1.5rem;
  --space-m: 8px;

  --li-margin: 1em; /* margini lista FontAwesome */
  --li-width: 1.5em; /* markerwidth lista FontAwesome */

  --main-color: rgba(255, 0, 0, 0.236);

  /* dimension */
  --header-h: 80px;
}

/* -- DEBUG */

.db {
  background-color: rgba(255, 0, 0, 0.236);
  border: 3px dashed black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db-content > * {
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dotted black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db i::after {
  content: "ℹ️";
}

/* ---------------------------------------- */

.overflow-container {
  overflow: hidden;
  height: 100vh;
}

/* HEADER */

header {
  height: var(--header-h);
}

header .dropdown-toggle::after {
  display: none;
}

#navbar-logo-small {
  width: 50px;
}

#nav-search-bar.form-control:focus {
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: none;
}

#bell-dropdown {
  color: #ff8f00;
}

#bell-menu {
  left: auto;
  right: 0;
}

/* SIDEBAR */

#sidebar {
  height: calc(100vh - var(--header-h));
  /* width: 150px; */
  background-image: URL(../img/img/sidebar-bg.png);
  background-color: #051e34;
}

#sidebar a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

#sidebar a:hover {
  background-color: #ffffff64;
}

/* content */

#content {
  height: calc(100vh - var(--header-h));
  overflow: auto;
}

/* content-top */

#plan-block .badge.text-bg-primary {
  background-color: #165bba !important;
}

#offcanvasForm {
  width: 98%;
}

/* content-main */

#content-main #next-classes.table th:first-of-type {
  width: 100%;
  text-align: start;
}

#content-main #next-classes.table,
#content-main #next-classes.table .btn {
  font-size: 0.8rem;
}

#content-main #next-classes.table td {
  white-space: nowrap;
}

#content-main #next-classes.table th {
  font-weight: 400;
}

#content-main #next-classes .class-avatar {
  max-width: 30px;
  clip-path: circle(50%);
}

#faq-list .accordion-item {
  border-top: none;
  border-right: none;
  border-left: none;
}
#faq-list .accordion-item:last-of-type {
  border-bottom: none;
}

#faq-list .accordion-button:not(.collapsed) {
  background-color: var(--bs-body-bg);
  color: inherit;
}

#faq-list .accordion-button:focus {
  box-shadow: none;
}

/* media md */
@media screen and (min-width: 768px) {
  #offcanvasForm {
    width: 80%;
  }
}

/* media xl */
@media screen and (min-width: 1200px) {
  #offcanvasForm {
    width: 50%;
  }
}
